<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="supermarket" class="com.nike.service.impl.SupermarketImpl" />
	<bean id="productDao" class="com.nike.dao.impl.ProductDaoImpl" />
	<bean id="productDB" class="com.nike.database.ProductDB" />

</beans>
